.custom-background {
  position: relative;
  background-size: 77% 100% !important;
  background-position: left !important;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 110vh;
}

.custom-content {
  position: absolute;
  right: 1%;
  text-align: center;
  top: 40px;
}

.aligncontent {
  text-align: center;
  font-size: 20px;
  max-width: 350px;
  margin: auto;
  font-weight: 600;
}

.orange {
  background-color: orange !important;
  border-radius: 1.25rem !important;
  color: white !important;
  text-align: center;
}

@media (max-width: 991.98px) {
  .custom-background {
    height: 710px;
    background-position: bottom;
    background-size: 100% !important;
    overflow: hidden;
    text-align: center;
  }

  .custom-content {
    margin: 9px auto 0;
    max-width: 29.6875rem;
    text-align: center !important;
    box-sizing: border-box;
    top: 20px;
    right: 40%;
  }
}

.city {
  text-align: center;
  width: 105px;
  margin: auto;
}

.city img {
  width: 105px;
  max-width: 100%;
}

.city h3 {
  font-size: 16px;
}

.width50 {
  padding: 10px;
}

.custom-span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.inner-block {
  padding-left: 80px;
  max-width: 100%;
}

.inner-block h4 {
  font-size: 1.25rem;
}

.inner-block p {
  color: #6c757d !important;
  font-size: 1rem;
}

@media (max-width: 770px) and (min-width: 400px) {
  .width50 {
    width: 50% !important;
    box-sizing: border-box;
  }
}
